# Hardhat local state
*/artifacts
*/cache

# Typechain output directory
*/typechain-types

# Make it harder to accidentally publish your mnemonic.
.env

# Yarn and npm dependencies
node_modules/

# tsc output
*/dist
